# Merge, Join, Concatenate

In [1]:
import pandas as pd

## The `concat()` Method

In [2]:
week1 = pd.read_csv('data/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('data/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('data/Restaurant - Customers.csv')
foods = pd.read_csv('data/Restaurant - Foods.csv')

In [9]:
sales = pd.concat([week1, week2], keys = ['Week1','Week2']) # the keys parameter creates a multi-index dataframe
sales.loc['Week1']

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[250 rows x 2 columns]

In [11]:
sales.loc['Week1',5]

Customer ID    213
Food ID          8
Name: (Week1, 5), dtype: int64

In [12]:
sales.loc[('Week1',5)] # using a tuple

Customer ID    213
Food ID          8
Name: (Week1, 5), dtype: int64

In [14]:
sales.loc[('Week1',5),'Food ID']

8

## The `append()` Method

In [15]:
week1 = pd.read_csv('data/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('data/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('data/Restaurant - Customers.csv')
foods = pd.read_csv('data/Restaurant - Foods.csv')

In [16]:
week2.append(week1)

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[500 rows x 2 columns]

In [17]:
week2.append(week1, ignore_index=True)

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
470          147        8
471          745        4
472          184        3
473          828        8
474          578        5
475          491        4
476           62        4
477           77        9
478          506        9
479          271        9
480          584       10
481          148        5
482          595        3
483          274       10
484          646        1
485          520        8
486          644        8
487          725        8
488          934        4
489          151       10
490          945        5
491          343        3
492          380        9
493          911        4
494          621        9
495          413        9
496          926        6
497          134        3
498          396        6
499          535       10

[500 rows x 2 columns]

## Inner Joins 

https://www.udemy.com/data-analysis-with-pandas/learn/v4/t/lecture/5937672?start=0

In [19]:
week1 = pd.read_csv('data/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('data/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('data/Restaurant - Customers.csv')
foods = pd.read_csv('data/Restaurant - Foods.csv')